.carrousel_conteiner{
    width: 100%;
    height: 60vh;
    box-shadow: 0 8px 10px -2px gray;
    padding: 0;

    img{
        @include tamaño(100%,100%)
    }
}

.banner_conteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    background: no-repeat center/140% url("https://lh3.googleusercontent.com/uZgEn0ulwh1j2GvoIaGtR4mpo75ceKpuO_cpSDrXUaJs0QykX2Okd2-YxVxPgv02rQ5yoSMYurZRV6c4oFFsoW2lvo6ZH1UBokBjkIEGMmZVOFkEJON4DEBgwZgxnKJ3MKpjOhkeb-7v6cy_Gc-48ho4sZQmpqLppIyqcfWW6OedltoMGFwIeMQ74s6ABpEyvfnPqW_dx3o7LZ67htzVtMcmAjW4qukLJGWhZqgvuEZDNlvvOe7ElExw3Kx4HcLXwy_vCNU_E9aoeaaX58HN0nApLMkuVW59p339w2Hcq1DoDosFzJ4MBCtDMuJWXF_rU5bqYyfmmkSXnJZrOxyF0JCgXb-En5_k8PDjCXOgNLRaQGEoEbCkMqhBbcM1oVQVWVL99Vl81blNFE8UySmJD4E-Dp7caCaL03YJCFkENA-NEiDQtT1oUptl1AOvRRQb0pe0UbKKqwyAWrdfCtBLZOkG9mFUA1dAwL_4tsXOkSCKt1L7NddzlO-fE_41as9PR1W4ySamYfDw8L6Z8xS-Q4H_7xmeh0ej2cV_AxLFu7X8FTEE-HWLGyjsbbP-9ub2NBcvuttoTM4DOnKHqW_ZlpMAVmrvvTQ-U-ByxiGO0s9saw8nDt20VJ8c0oeg_BDCVHIBmVFGQE83JGiEfUxXzm2JrZaO2lut4IP9ve-YYuF6QQGXHP-OnSU6OAgPtvKTj-Ld06DRIvJAxrN06uy6DMR2fiDMkUMei2nICvZmwFGXnRoVfXe2CHAKemBzGHEsyMZ2tT_bFtvtj8HZF57ly89FFI6NpZFWXK8eEefP92tb2RiCUyLcWQ0hxe4c-U-ny7GM=w1052-h246-no?authuser=2");

}

.banner_conteiner_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.banner_conteiner_text{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 100px;
    letter-spacing: 10px;
    font-weight: bold;
}

.banner_conteiner_line{
    width: 100%;
    height: 20px;
    background-color: #01A3BA;
}


/* ------------------phones---------------------- */
@media only screen and (max-width: 479.9px) {

    .banner_conteiner{

        height: 105px;
    }

    .banner_conteiner_text{
        font-size: 25px;
        letter-spacing: 5px;
    }

    .banner_conteiner_line{
        height: 5px;
    }
    .carrousel_conteiner{
        height: 150px;
    }
   
}

/* -----------------tablets---------------------- */
@media only screen and (min-width: 479.9px) {

    .banner_conteiner{
        height: 250px;
    }

    .banner_conteiner_text{
        font-size: 45px;
        letter-spacing: 7px;
    }

    .banner_conteiner_line{
        height: 10px;
    }

    .carrousel_conteiner{
        height: 250px;
    }

    
    
}

/* ---------------tablets-md--------------------- */
@media only screen and (min-width: 767.9px) {
    
    .carrousel_conteiner{
        height: 550px;
    }
}

/* ----------------desktop----------------------) */
@media only screen and (min-width: 1024px) {

    .banner_conteiner{

        height: 250px;
    }

    .banner_conteiner_text{
        font-size: 45px;
        letter-spacing: 7px;
    }

    .banner_conteiner_line{
        height: 10px;
    }

    .carrousel_conteiner{
        height: 250px;
    }

    .carrousel_conteiner{
        height: 550px;
    }
}

/* ----------------desktop----------------------) */
@media only screen and (min-width: 1400px) {

    .banner_conteiner{
        width: 100%;
        height: 450px;      
    }
    
    .banner_conteiner_text{

        font-size: 100px;
        letter-spacing: 10px;
    }

    .banner_conteiner_line{
        width: 100%;
        height: 20px;
        background-color: #01A3BA;
    }

    .carrousel_conteiner{
        height: 600px;
    }
}


