.carrousel_conteiner{
    width: 100%;
    height: 60vh;
    box-shadow: 0 8px 10px -2px gray;
    padding: 0;
}

.banner_conteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    background: no-repeat center/140% url("https://i.imgur.com/ui4gcmk.png");
}

.banner_conteiner_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.banner_conteiner_text{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 100px;
    letter-spacing: 10px;
    font-weight: bold;
}

.banner_conteiner_line{
    width: 100%;
    height: 20px;
    background-color: #01A3BA;
}


/* ------------------phones---------------------- */
@media only screen and (max-width: 479.9px) {

    .banner_conteiner{

        height: 105px;
    }

    .banner_conteiner_text{
        font-size: 20px;
        letter-spacing: 2px;
    }

    .banner_conteiner_line{
        height: 5px;
    }
    .carrousel_conteiner{
        height: 150px;
    }
   
}

/* -----------------tablets---------------------- */
@media only screen and (min-width: 479.9px) {

    .banner_conteiner{
        height: 250px;
    }

    .banner_conteiner_text{
        font-size: 45px;
        letter-spacing: 7px;
    }

    .banner_conteiner_line{
        height: 10px;
    }

    .carrousel_conteiner{
        height: 250px;
    }

    
    
}

/* ---------------tablets-md--------------------- */
@media only screen and (min-width: 767.9px) {
    
    .carrousel_conteiner{
        height: 550px;
    }
}

/* ----------------desktop----------------------) */
@media only screen and (min-width: 1024px) {

    .banner_conteiner{

        height: 250px;
    }

    .banner_conteiner_text{
        font-size: 45px;
        letter-spacing: 7px;
    }

    .banner_conteiner_line{
        height: 10px;
    }

    .carrousel_conteiner{
        height: 250px;
    }

    .carrousel_conteiner{
        height: 550px;
    }
}

/* ----------------desktop----------------------) */
@media only screen and (min-width: 1400px) {

    .banner_conteiner{
        width: 100%;
        height: 450px;      
    }
    
    .banner_conteiner_text{

        font-size: 100px;
        letter-spacing: 10px;
    }

    .banner_conteiner_line{
        width: 100%;
        height: 20px;
        background-color: #01A3BA;
    }

    .carrousel_conteiner{
        height: 600px;
    }
}


