.product_conteiner{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 50px 0px;

    a{
        text-decoration: none;
    }
}

.product_conteiner_item-img{
    width: 220px;
    
    img{
        width: 100%;
        height: 100%;
    }
}

.product_conteiner_item-description{
    width: 220px;
    text-align: center;
    margin-bottom: 60px;
    padding-top: 10px;  
}

.product_conteiner_item-text{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #416B79;
    font-weight: bold;
}

@media only screen and (min-width: 767.9px){
    .product_conteiner{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: flex-start;
        padding: 60px 0px;
    }

    .product_conteiner_item-img{
        width: 280px;
    }

    .product_conteiner_item-description{
        width: 280px;
        margin-bottom: 40px;
    }

    .product_conteiner_item-text{
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px){
    .product_conteiner{
        padding: 120px 60px;
        
    }

    .product_conteiner_item-img{
        width: 360px;
    }

    .product_conteiner_item-description{
        width: 360px;
        margin-bottom: 60px;
    }

    .product_conteiner_item-text{
        font-size: 25px;
    }

    
}

@media only screen and (min-width: 1279px){
    .product_conteiner{
        padding: 120px 60px;
        
    }

    .product_conteiner_item-img{
        width: 300px;
    }

    .product_conteiner_item-description{
        width: 300px;
        margin-bottom: 60px;
    }

    .product_conteiner_item-text{
        font-size: 20px;
    }

    
}


