.ubication_conteiner{
    border-top: 1px solid rgb(224, 224, 224);
    background-color: #F3F3F3;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px 0px;
}

.ubication_conteiner_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;

    img{
        margin-left: 5px;
        max-height: 20px;
    }
}

.ubication_conteiner_title-text{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #01A3BA;
    font-weight: bold;
    letter-spacing: 1.7px;
}

.ubication_conteiner_map{
    border: 1px solid rgb(224, 224, 224);
    width: 80%;
    margin-bottom: 20px;

    img{
        width: 100%;
    }
}

.ubication_conteiner_address{
    width: 100%;

    img{
        width: 100%;
    }
}

@media only screen and (min-width: 767.9px){
    .ubication_conteiner{
        padding: 35px 0px;
    }

    .ubication_conteiner_title-text{
        font-size: 30px;
    }

    .ubication_conteiner_title{
        margin-bottom: 35px;
        img{
            max-height: 30px;
        }
    }

    .ubication_conteiner_map{
        width: 70%;
        margin-bottom: 35px;
    }

    .ubication_conteiner_address{
        width: 80%;
    }
}

@media only screen and (min-width: 1024px){
    .ubication_conteiner{
        padding: 38px 0px;
    } 

    .ubication_conteiner_title-text{
        font-size: 38px;
    }

    .ubication_conteiner_title{
        margin-bottom: 38px;
        img{
            max-height: 38px;
        }
    }

    .ubication_conteiner_map{
        width: 60%;
        margin-bottom: 40px;
    }

    .ubication_conteiner_address{
        width: 70%;
    }
}

@media only screen and (min-width: 1279px){
    .ubication_conteiner{
        padding: 50px 0px;
    }

    .ubication_conteiner_title-text{
        font-size: 45px;
        letter-spacing: 3px;
    }

    .ubication_conteiner_title{
        margin-bottom: 50px;
        img{
            max-height: 45px;
        }
    }

    .ubication_conteiner_map{
        width: 35%;
        margin-bottom: 50px;
    }

    .ubication_conteiner_address{
        width: 40%;
    }
    
}


